---
import { getCollection, render } from "astro:content";
import { LuCalendarClock } from "react-icons/lu";

import THtml from "@components/THtml.astro";
import Date from "@components/Date.astro";

export async function getStaticPaths({ paginate }) {
  const thoughts = (await getCollection("thoughts")).sort(
    ({ data: { date: dateA } }, { data: { date: dateB } }) => {
      if (dateA < dateB) {
        return 1;
      }
      return -1;
    },
  );
  return paginate(thoughts, { pageSize: 23 });
}

export const prerender = true;

const frontmatter = {
  title: "Muddle of Thoughts",
  description: "Random, incoherent ramblings.",
};

const {
  page: { currentPage, data, url },
} = Astro.props;
---

<THtml frontmatter={frontmatter}>
  <main>
    <section class="hero">
      <h1 style={{ fontSize: "calc(1.2 * var(--pico-font-size))" }}>
        {frontmatter.title}
      </h1>
      <p
        style={{
          fontSize: "calc(0.8 * var(--pico-font-size))",
          color: "var(--pico-muted-color)",
        }}
      >
        {frontmatter.description}
      </p>
    </section>
    <hr />
    <section>
      {
        data.map(async (page) => {
          const { Content } = await render(page);
          const {
            id,
            data: { date },
          } = page;
          return (
            <article id={`t${id}`}>
              <Content />
              <footer>
                <span>
                  <LuCalendarClock />
                </span>
                <span>
                  <Date date={date} format="bdY" />
                </span>
                <span>
                  <Date date={date} format="HM" />
                </span>
              </footer>
            </article>
          );
        })
      }
    </section>
    <nav>
      <ul>
        <li>
          <a
            href={url.prev ? url.prev : null}
            style={url.prev ? "" : "opacity: 0; cursor: default;"}
          >
            {"< "}Newer
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <span style="color: var(--pico-muted-color);">{currentPage}</span>
        </li>
      </ul>
      <ul>
        <li>
          <a
            href={url.next ? url.next : null}
            style={url.next ? "" : "opacity: 0; cursor: default;"}
          >
            Older{" >"}
          </a>
        </li>
      </ul>
    </nav>
    <hr />
  </main>
</THtml>

<style>
  section.hero {
    text-align: center;
    padding-bottom: calc(0.5 * var(--pico-spacing));
    margin-bottom: 0;

    > h1 {
      margin-bottom: calc(0.25 * var(--pico-typography-spacing-vertical));
    }

    > p {
      color: var(--pico-muted-color);
      font-size: calc(var(--pico-font-size) * 0.8);
      margin-bottom: calc(0.25 * var(--pico-typography-spacing-vertical));
    }
  }

  main > hr {
    margin: var(--pico-spacing) 0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  section {
    > article {
      box-shadow: 0 0 0.5rem var(--pico-muted-border-color);

      > footer {
        display: flex;
        color: var(--pico-muted-color);
        font-size: calc(0.6 * var(--pico-font-size));
        vertical-align: middle;
        align-items: center;

        > span {
          display: flex;
          height: 100%;
          margin-right: calc(0.3 * var(--pico-spacing));
        }
      }
    }
  }

  section:last-of-type {
    padding: 0 var(--pico-spacing);
  }

  nav {
    font-size: medium;
    > ul > li {
      padding: 0 var(--pico-spacing);

      > a {
        cursor: pointer;
        padding: 0 var(--pico-spacing);
      }

      > button {
        cursor: default;
        font-size: medium;
        background-color: white;
        color: var(--pico-primary);
      }
    }
  }
</style>
